div{
    display: block;
    background-color: #d4d4d4;
    border-width: 10px;
    width: 400px;
    outline: 10px solid #d4d4d4 ;
    margin: 30px;
    padding: 20px;
}
.first{
    border-left-style: solid;
    border-left-color: #e91e63;
}
.second{
    visibility: hidden;
}
.third{
    border-left-style: solid;
    border-left-color: #009688;
}
